{% extends 'layouts.app' %}

{% block content %}

<div class="container">

  {% if auth_check() %}

  <h1>Edit d'un professeur</h1>

  {% if errors.any() %}
			<ul>
				{% for error in errors.all() %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

  <form class="" action="{{ route('teacher.update', [teacher]) }}" method="post">
    <input type="hidden" name="_token" value="{{ csrf_token() }}">
    <input type="hidden" name="_method" value="PATCH">

    <div class="form-group">
				<label for="TeacherLastName">Nom :</label>
				<input type="text" name="last_name" id="TeacherLastName" class="form-control" value="{{ old('last_name', teacher.last_name) }}">
		</div>

    <div class="form-group">
				<label for="TeacherFirstName">Prénom :</label>
				<input type="text" name="first_name" id="TeacherFirstName" class="form-control" value="{{ old('first_name', teacher.first_name) }}">
		</div>

    <div class="form-group">
				<label for="TeacherEmail">Email :</label>
				<input type="text" name="email" id="TeacherEmail" class="form-control" value="{{ old('email', teacher.email) }}">
		</div>

    <div class="form-group">
				<label for="TeacherIntervenant">Intervenant :</label>
        <select class="form-control" name="independant_contractor" id="TeacherIntervenant" value="{{ old('independant_contractor', teacher.independant_contractor) }}" >
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
		</div>

    <button type="submit" name="button" class="btn btn-primary" >Enregistrer</button>

  </form>



  {% else %}
          <h1>Veuillez vous connecter !</h1>
  {% endif %}


</div>

{% endblock %}
