{% extends 'layouts.app' %}

{% block content %}



<div class="container">

{% if auth_check() %}

  <div class="d-inline"><h1>Liste de tous les professeurs</h1>{% if auth_check() %}<a href="{{ route('teacher.create') }}" class="btn-primary btn">Ajouter un professeur</a>{% endif %}</div>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>

        {% for teacher in teachers %}
          <tr onclick="location.href='{{ route('teacher.show', [teacher]) }}'" class="tr-table">

            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if teachers|length == 0 %}
      <p class="any_teachers">Aucun professeur</p>
    {% endif %}

  </div>

  {{ teachers.render() | raw() }}


  {% else %}
          <h1>Veuillez vous connecter !</h1>
  {% endif %}

</div>


{% endblock %}
