{% extends 'layouts.app' %}

{% block content %}

<div class="container">

  {% if auth_check() %}

  <div class="page-header">
    <h1> {{ teacher.last_name }} {{ teacher.first_name }} <small>{{teacher.email}}</small></h1>

    <div class="form_edition">
        <a type="button" class="btn btn-primary" href="{{ route('teacher.edit', teacher) }}" >Edit</a>
        <form action="{{ route('teacher.destroy',[teacher]) }}" method="post" accept-charset="utf-8">
          <input type="hidden" name="_token" value="{{ csrf_token() }}">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger" type="submit">Supprimer</button>
        </form>
        <a href="{{ route('teacher.courses.create', [teacher]) }}" class="btn btn-primary">Ajouter un cours</a>
    </div>

  </div>


  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Commence le</th>
          <th>Termine le</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>

        {% for course in courses %}

          <tr>

            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.starting_at }}</td>
            <td>{{ course.ending_at }}</td>
            <td>
              <form action="{{ route('teacher.courses.destroy', [teacher, course]) }}" method="post" accept-charset="utf-8">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn-simple" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </form>

            </td>

          </tr>

        {% endfor %}

      </tbody>
    </table>
    {% if courses|length == 0 %}
      <p class="any_teachers">Aucun cours</p>
    {% endif %}
  </div>

  {% else %}
          <h1>Veuillez vous connecter !</h1>
  {% endif %}

</div>


{% endblock %}
