{% extends "layouts.app" %}

{% block content %}

<div class="container">

  {% if auth_check() %}

  {% if errors.any() %}
      <ul>
        {% for error in errors.all() %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>

  {% endif %}
  <h1>Ajouter un cours pour le professeur {{ teacher.last_name }} {{ teacher.first_name }}</h1>

  <form class="" action="{{ route('teacher.courses.store', [teacher]) }}" method="post">
    <input type="hidden" name="_token" value="{{ csrf_token() }}">

    <div class="form-group">
        <label for="CoursesTitle">Title :</label>
        <input type="text" name="title" id="CoursesTitle" class="form-control" value="{{ old('title') }}">
    </div>

    <div class="form-group">
        <label for="CoursesDescription">Description :</label>
        <textarea name="description" id="summernote" class="form-control" >{{ old('description') }}</textarea>
    </div>

    <div class="form-group">
        <label for="CoursesStarting">Starting at :</label>
        <input type="text" name="starting_at" id="CoursesStarting" class="form-control" value="{{ old('starting_at') }}">
    </div>

    <div class="form-group">
        <label for="CoursesEnding">Ending at :</label>
        <input type="text" name="ending_at" id="CoursesEnding" class="form-control" value="{{ old('ending_at') }}">
    </div>

    <button type="submit" name="button" class="btn btn-primary" >Enregistrer</button>

  </form>

  {% else %}
          <h1>Veuillez vous connecter !</h1>
  {% endif %}

</div>

{% endblock %}
